
.content {
  width: 605px;
  margin: 0 58px;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

/* responsive */
@media (max-width: 992px) {
  .title {
    font-size: 36px;
  }
}